.Icon{
    color: #395B64;
    text-shadow:0px 2px 2px black;
    padding: 10px 12px;
    font-size: 40px;
    display: flex;
    align-items: center;
}
.Navigation{
    display: flex;
    align-items: center;
    box-shadow: 0px .5px 5px black;
    height: 65px;
    font-family:Merienda;
    color: #404258;
    text-shadow: 0px 2px 2px ;
    background-color: #F2E7D5;
}
.Head1{
    font-size: 25px;
}
.life{
    color: #42855B;
}